{%load static%}
<html>
<head>
    <link rel="stylesheet" href={% static 'style/home.css' %}>
    <link rel="stylesheet" href={% static 'style/state.css' %}>
    <link rel="stylesheet" href={% static 'style/popup.css' %}>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
  integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
  crossorigin="anonymous" referrerpolicy="no-referrer" />
  <style>
    .popup-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-image: url('{% static "img/pop.jpg" %}');
    backdrop-filter: blur(7px);
    background-size:cover;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 3;
    width: 70%;
    height: 70%;
    border-radius: 15px;
    border: black;
}
    header{
    width: 100%;
    height:70vmin;
    background-image: url('{% static "img/state.jpg" %}');
    background-position:bottom;
    background-size:cover;
    display:flex;
    align-items: center;
    justify-content: center;
}
.explore{
    width: 100%;
    height: 80vh;
    background-image: url('{% static "img/8.jpg" %}');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex
}
</style>
</head>
<body>
    <nav>
        <h1>Wander<span style="color: white;">.in</span> India</h1>
        <ul>
            <li><a href="/home/">HOME</a></li>
            <li><a href="/about/">ABOUT</a></li>
            <li><a href="/place/">PLACES</a>
                <ul>
                    <li><a href="/tn/">TamilNadu</a></li>
                    <li><a href="/ka/">Karnataka</a></li>
                    <li><a href="/kl/">Kerala</a></li>
                    <li><a href="/ap/">Telangana</a></li>
                </ul>
            </li>
            <li><a href="/testimonials/">TESTIMONIALS</a></li>
            <li><a href="/book/">BOOKING</a></li>
            {% if user.is_authenticated %}
                <li><a href="/logout/">LOG OUT</a></li>
            {% else %}
                <li><a href="/signin/">LOGIN</a></li>
            {% endif %}
        </ul>
    </nav>
    <header>
        <div class="header-content">
        <h1 style="margin-left:-35%;" >Kerala</h1>
        <div class="line"></div>
        </div>
    </header>
    <section class="events">
        <div class="title">
            <h1>Main Attraction</h1>
            <div class="line"></div>
        </div>
        <div class="row">
            <div class="col">
                <img src='{% static "img/Alleppey.jpg" %}' alt=""onclick="openPopup('popup1')">
                <div id="popup1" class="popup-container">
                    <h1 class="p_head">Alappuzha (Alleppey)</h1>
                    <p class="p_para">Alappuzha (Alleppey) is known as ‘the Venice of the East’. Offering the best tourist places in Alleppey, this charming place is the hub of Kerala’s backwaters and is home to a huge network of backwaters and more than thousand houseboats. The houseboats you find in the backwaters of Alappuzha are in fact a reworked version of the Kettuvallams of olden times. Kettuvallam is a Malayalam word, ‘Kettu’, means living structures and ‘Vallom’ means boat. In the olden days, kettuvallam or boat with a thatched roof that covers over wooden hulls was used to carry tons of rice and spices.</p>
                    <br><br><br>
                    <h1 style="color: black;">Refer These Links For Tourist Guides:</h1>
                    <div class="mail"> 
                        <li><a href="www.gmail.com">guestaccommodation@auroville.org.in</a></li>
                        <li><a href="www.gmail.com">guestaccommodation@auroville.org.in</a></li>
                        <li><a href="www.gmail.com">guestaccommodation@auroville.org.in</a></li>
                    </div>
                    <button class="button"  id="pp_button" onclick="closePopup('popup1')">Close</button>
                </div>
                <h4 >Alleppey</h4>
                <p> Serenity in Backwaters, Tranquility in Every Wave</p>
                <button class="button" type="button"  onclick="openPopup('popup1')">Learn More</button>
            </div>
            <div class="col">
                <img src='{% static "img/Cochin.jpg" %}' alt=""onclick="openPopup('popup2')">
                <div id="popup2" class="popup-container">
                    <h1 class="p_head">Cochin</h1>
                    <p class="p_para">Kochi represents different things to different people. To many, it is an emerging cosmopolitan city with bustling life in the streets, the cinema halls, the shopping malls, and the skyscrapers; the commercial capital of the state, with a style statement different from the rest of the State - whether in clothes or lifestyle. To some others, Kochi is a place with deep roots in history and its streets exude an old-world charm; a place with beautiful monuments and a variety of linguistic and ethnic communities including Jews, Konkinis, Gujaratis and so on. </p>
                    <br><br><br>
                    <h1 style="color: black;">Refer These Links For Tourist Guides:</h1>
                    <div class="mail"> 
                        <li><a href="www.gmail.com">guestaccommodation@auroville.org.in</a></li>
                        <li><a href="www.gmail.com">guestaccommodation@auroville.org.in</a></li>
                        <li><a href="www.gmail.com">guestaccommodation@auroville.org.in</a></li>
                    </div>
                    <button class="button" id="pp_button" onclick="closePopup('popup2')">Close</button>
                </div>
                <h4>Cochin</h4>
                <p> Where Heritage Meets the Horizon, A Tapestry of Timeless Charms.</p>
                <button class="button" type="button"   onclick="openPopup('popup2')">Learn More</button>
            </div>
        </div>
    </section>
    <section class="explore">
        <div class="explore-content">
            <h1>WANDER IN INDIA</h1>
            <div class="line"></div>
            <h1 style="font-size: 30px; color: skyblue">"Empower global travelers with a seamless and immersive experience, showcasing the rich tapestry of India's diverse landscapes, cultures, and adventures. Wander In India aims to inspire exploration, foster cultural exchange, and create unforgettable memories for every traveler."</h1>
                <form action="/place/">
                    <button class="button" type="submit" >Learn More</button> 
                    </form>
        </div>
    </section>
    <section class="tours">
        <div class="row">
            <div class="content-col">
                <h1>OTHER SPOTS & DESTINATION</h1>
                <div class="line"></div>
                <p>Unveiling Hidden Gems, One Journey at a Time. </p>
                    <form action="/place/">
                        <button class="button" type="submit" >Learn More</button> 
                        </form>
            </div>
                <div class="image-col">
                    <div class="image-gal">
                        <div class="image-area">
                            <div id="popup3" class="popup-container">
                                <h1 class="p_head">Kollam</h1>
                    <p class="p_para">Kollam (erstwhile Quilon) is a southern district of Kerala, located 70 km north of the state’s capital Thiruvananthapuram. It is flanked by the Arabian sea on the west, Tamil Nadu on the east, Alapuzha and Pathanamthitta districts on the north and Thiruvananthapuram district on the south. Housing a population of over 2.6 million, Kollam is one of the more densely peopled districts of India. The head quarters of the district administration is centred at Kollam City, the district’s capital. Administratively, the district is composed of two revenue divisions viz. Kollam and Punalur with three taluks each under them.</p>
                    <br><br><br>
                    <h1 style="color: black;">Refer These Links For Tourist Guides:</h1>
                    <div class="mail"> 
                        <li><a href="www.gmail.com">guestaccommodation@auroville.org.in</a></li>
                        <li><a href="www.gmail.com">guestaccommodation@auroville.org.in</a></li>
                        <li><a href="www.gmail.com">guestaccommodation@auroville.org.in</a></li>
                    </div>
                                <button class="button"  id="pp_button" onclick="closePopup('popup3')">Close</button>
                            </div>
                            <img src='{% static "img/Kollam.jpg" %}' alt="">
                            <div class="image-text" onclick="openPopup('popup3')"> 
                                <h3>Kollam</h3>
                            </div>
                        </div>
                    </div>
                    <div class="image-gal">
                        <div class="image-area">
                            <div id="popup4" class="popup-container">
                                <h1 class="p_head">Kovalam</h1>
                    <p class="p_para">Kovalam is an internationally renowned beach with three adjacent crescent beaches. It has been a favourite haunt of tourists since the 1930s. A massive rocky promontory on the beach has created a beautiful bay of calm waters ideal for sea bathing.The leisure options at this beach are plenty and diverse. Sunbathing, swimming, herbal body toning massages, special cultural programmes and catamaran cruising are some of them.</p>
                    <br><br><br>
                    <h1 style="color: black;">Refer These Links For Tourist Guides:</h1>
                    <div class="mail"> 
                        <li><a href="www.gmail.com">guestaccommodation@auroville.org.in</a></li>
                        <li><a href="www.gmail.com">guestaccommodation@auroville.org.in</a></li>
                        <li><a href="www.gmail.com">guestaccommodation@auroville.org.in</a></li>
                    </div>
                                <button class="button"  id="pp_button" onclick="closePopup('popup4')">Close</button>
                            </div>
                            <img src='{% static "img/Kovalam.jpg" %}' alt="">
                            <div class="image-text"onclick="openPopup('popup4')"> 
                                <h3>Kovalam</h3>
                            </div>
                        </div>
                    </div>
                    <div class="image-gal">
                        <div class="image-area">
                            <div id="popup5" class="popup-container">
                                <h1 class="p_head">Kumarakom</h1>
                                <p class="p_para">Kumarakom,situated 13 Kms away from Kottayam is a sleepy little village on VembanadLake in Kerala. It offers wide variety of flora, exotic sightseeing, boating and fishing experience. The bird sanctuary spread across 14 acres is safe home for many migratory birds like Siberian stork, wild duck etc. They live with other birds in flocks such as darters, herons, egret, waterfowls and cuckoos are fascinating sight for the visitors.</p>
                               <br><br><br>
                                <h1 style="color: black;">Refer These Links For Tourist Guides:</h1>
                                <div class="mail"> 
                                    <li><a href="www.gmail.com">guestaccommodation@auroville.org.in</a></li>
                                    <li><a href="www.gmail.com">guestaccommodation@auroville.org.in</a></li>
                                    <li><a href="www.gmail.com">guestaccommodation@auroville.org.in</a></li>
                                </div>
                                <button class="button"  id="pp_button" onclick="closePopup('popup5')">Close</button>
                            </div>
                            <img src='{% static "img/Kumarakom.jpg" %}' alt="" >
                            <div class="image-text" onclick="openPopup('popup5')"> 
                                <h3>Kumarakom</h3>
                            </div>
                        </div>
                    </div>
                    <div class="image-gal">
                        <div class="image-area">
                            <div id="popup6" class="popup-container">
                                <h1 class="p_head">Munnar</h1>
                    <p class="p_para">Munnar, the famed hill station of south India, is a romantic locale where natural beauty is everywhere to visit, explore and to enjoy. Munnar is situated at the confluence of three mountain streams – Muthirapuzha, Nallathanni and Kundala – and the word ‘Munnar’ means three rivers in Malayalam.  Situated about 1600m above sea level, the hill station had been the summer resort of the British Government during the colonial era. Imprints of the colonial past stand tall in the Munnar town in the form of English country cottages. Virgin forests, savannah, rolling hills, scenic valleys, numerous streams, huge splashy waterfalls, sprawling tea plantations and winding walkways are all part of the great holiday experience on offer for a traveler to Munnar.</p>
                    <br><br><br>
                    <h1 style="color: black;">Refer These Links For Tourist Guides:</h1>
                    <div class="mail"> 
                        <li><a href="www.gmail.com">guestaccommodation@auroville.org.in</a></li>
                        <li><a href="www.gmail.com">guestaccommodation@auroville.org.in</a></li>
                        <li><a href="www.gmail.com">guestaccommodation@auroville.org.in</a></li>
                    </div>
                                <button class="button"  id="pp_button" onclick="closePopup('popup6')">Close</button>
                            </div>
                            <img src='{% static "img/munnar-1.png" %}' alt="">
                            <div class="image-text" onclick="openPopup('popup6')"> 
                                <h3>Munnar</h3>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>
            <footer>
                <div class="footerContainer">
                    <div class="socialIcons">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-google-plus"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
            </div>
            <div class="footerNav">
                <ul>
                    <li><a href="/home/">Home</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/place/">Places</a></li>
                    <li><a href="/testimonials/">Testimonials</a></li>
                    <li><a href="/login/">Login</a></li>
                </ul>
            </div>
        </div>
        <div class="footerBottom">
            <!-- <p>Embark on a remarkable journey through the cultural, natural, and historical treasures of Tamil Nadu, Kerala,<br> 
                Andhra Pradesh, and Karnataka. Each state welcomes you with open arms, inviting you to discover the stories,<br>
                flavors, and landscapes that make South India an unforgettable destination.</p>  -->
            <p>Copyright &copy;2023; Designed by <span class="designer"> Wander.in India</span></p>
        </div>
    </footer>
    <script>
        // Function to open the popup
        function openPopup(popupId) {
            document.getElementById(popupId).style.display = "block";
            document.getElementById("overlay").style.display = "block";
        }
    
        // Function to close the popup
        function closePopup(popupId) {
            document.getElementById(popupId).style.display = "none";
            document.getElementById("overlay").style.display = "none";
        }
    </script>

</body>
</html>